{{define "footer"}}
  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCem4Qbilv0scRdO9YapqWUoOZuU5n0ykU"></script>
    <script src="components/js/markerclusterer.js"></script>
    <script src="components/js/List.js"></script>
    <script src="components/js/Mapster.js"></script>
    <script src="components/js/map-options.js"></script>
    <script src="components/js/jqueryui.mapster.js"></script>
  	<script src="components/js/script.js"></script>
</body>

</html>
{{end}}